*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/**********************************************************************************************
                                            index
**********************************************************************************************/

/**********************************************************************************************
                                            header
**********************************************************************************************/

header{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #313131;
    z-index: 100;
}

.header-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle{
    margin: 0;
    font-size: x-large;
}

.red{
    color:#ff0000;
}

.orange{
    color: #ffa500;
}

.blue{
    color: #4444f1;
}

.lightblue{
    color:#34ccff
}

.green{
    color: #019617;
}

.lightgreen{
    color: #90ee90;
}


.header-list{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.header-items{
    display: inline-block;
    margin: 0 .8em;
    padding: 0;
}

.header-link{
    text-decoration: none;
    color: #fff;
}

.header-link:hover{
    color: #006b10;
    border-bottom: #006b10 1px solid;
}

/**********************************************************************************************
                                    fin    header
**********************************************************************************************/

/**********************************************************************************************
                                    main
**********************************************************************************************/

/**********************************************************************************************
                                    Carousel    section
**********************************************************************************************/

.introductory-imgs-container{
    margin: 0;
    padding: 0;
}

.introductory-imgs{
    padding: 0;
}

.carousel-caption{
    display: inline;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 2%;
    padding: .4em 1.5em .6em;
    margin-bottom: 2em;
}

.carousel-button{
    background-color: #0a58ca;
    border-radius: 5%;
    border: none;
    padding: .4em 1em;
    color: #fff;
}
.carousel-button:hover{
    pointer-events: painted;
    background-color: #006b10;
}

.carousel-button a{
    text-decoration: none;
    color: #fff;
}

.carousel-button a:hover{
    text-decoration: underline;
    color: #fff;
}

/**********************************************************************************************
                                    end     Carousel    section
**********************************************************************************************/

/**********************************************************************************************
                                    first section, introductory text
**********************************************************************************************/

.introductory-text{
    text-align: center;
    margin: 4em 0;
}

.separator-line{
    width: 80%;
    margin: 4em 10%;
    border-color: #111;
}

/**********************************************************************************************
                            end first section, introductory text
**********************************************************************************************/

/**********************************************************************************************
                            second section, informative-cards
**********************************************************************************************/

.informative-card{
    box-shadow: 0px 2px 10px #00000080;
}

.information-card{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content h2{
    padding: .8em 0 .5em;
}

.card-content p:last-child{
    padding-bottom: .5em;
}

.informative-content-img-card-container{
    padding: 0;
}

.content-img-card{
    width: 100%;
    height: 100%;
}

/**********************************************************************************************
                            end second section, informative-cards
**********************************************************************************************/

/**********************************************************************************************
                                    third section, shortcuts
**********************************************************************************************/

.section-atajos{
    margin: 2.5em;
}

.col-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30em;
    background-color: #fff;
    transition: box-shadow 100ms ease-in-out;
    transition: transform 500ms ease;
}

.col-container:hover{
    box-shadow: 0px 2px 10px #00000080;
    transform: scale(1.1);
}

.circle-img-container{
    width: 10em; 
    height: 10em;
    border-radius: 50%;
    overflow: hidden; 
    margin: 0 0 1em;
    box-shadow: 0 7px 10px #00000080
}

.circle-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-conteinar p{
    padding: 0 1em;
}

.shortcut-button-container{
    display: flex;
    justify-content: end;
    width: 100%;
    margin: .8em 0;
}

.shortcut-button{
    background-color: #0a58ca;
    border-radius: 5%;
    border: none;
    padding: .4em 1em;
    color: #fff;
}

.shortcut-button:hover{
    pointer-events: painted;
    background-color: #006b10;
}

.shortcut-button a{
    text-decoration: none;
    color: #fff;
}

.shortcut-button a:hover{
    text-decoration: underline;
    color: #fff;
}

/**********************************************************************************************
                                end third section, shortcuts
**********************************************************************************************/

/**********************************************************************************************
                                    footer
**********************************************************************************************/

footer{
    background-color: #313131;
    color: #fff;
}

.footer-row{
    padding-top: 2em;
}

.footer-text-copyright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;   
}

footer h3, footer h4{
    font-weight: bolder;
    font-size:x-large;
}

.footer-ul{
    list-style: none;
    padding: 0;
}

.footer-ul a{
    text-decoration: none;
    color: #0d6efd;
}

.footer-ul a:hover{
    color: #0055d4;;
}

/**********************************************************************************************
                                    end footer
**********************************************************************************************/

/**********************************************************************************************
                                    end main
**********************************************************************************************/

/**********************************************************************************************
                                end index
**********************************************************************************************/


/**********************************************************************************************
                                Deforestacion
**********************************************************************************************/

/**********************************************************************************************
                                introduction
**********************************************************************************************/

.introductory-img{
    width: 100%;
    height: 100%;
}

/**********************************************************************************************
                                end introduction
**********************************************************************************************/

/**********************************************************************************************
                                informative part
**********************************************************************************************/

.contamination-imgs{
    width: 100%;
    height: 100%;
}

.information-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    
}


.content-text p{
    margin-top: 1.5em;
}

/**********************************************************************************************
                                end infomative part
**********************************************************************************************/

/**********************************************************************************************
                                solutions part
**********************************************************************************************/

.content-text ol li{
    margin: 2em 0;
}

/**********************************************************************************************
                                end solutions part
**********************************************************************************************/

/**********************************************************************************************
                                end deforestacion
**********************************************************************************************/

/**********************************************************************************************
                                air poluttion
**********************************************************************************************/

/**********************************************************************************************
                                second section, introduction
**********************************************************************************************/

.second-introductory-text{
    padding: 5% 15%;
    text-align: center;
}

/**********************************************************************************************
                                end second section, introduction
**********************************************************************************************/

/**********************************************************************************************
                                third section, cons and examples
**********************************************************************************************/

.contamination-imgs-air{
    width: 100%;
    height: 100vh;
}

.content-information-card{
    padding: 1em 5% 1.5em;
}

.example-imgs{
    width: 100%;
    height: 75%;
    border-radius: 5%;
}

.demostration-imgs{
    width: 100%;
    height: 98%;
    border-radius: 5%;
}

.example-cards{
    text-align: center;
    font-weight: bold;
}

/**********************************************************************************************
                                end Air polution
**********************************************************************************************/

/**********************************************************************************************
                                polucion del agua
**********************************************************************************************/

.li-icon{
    width: 40px;
    height: 40px;
}

.space-beetwen-img{
    padding: 1.2em 0 1.5em;
}

/**********************************************************************************************
                                end polucion del agua
**********************************************************************************************/